html {
  background: linear-gradient(-5deg, rgb(255, 235, 238), rgb(239, 83, 80)) fixed;
  min-height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

body {
  margin: 0;
  font-family: 'Roboto';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}